.footer {
  position: sticky;
  bottom: 0;

  display: grid;
  gap: 4px;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);

  padding-block: 18px;
  padding-inline: 18px;
  background-color: #fff;
}
